Integrador iVes/Vertech/Connected Services/apiConsulta/EsocialService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.esocial.gov.br/ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="EsocialService" targetNamespace="http://www.esocial.gov.br/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.esocial.gov.br/ws">
      <xs:element name="consultaRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="grupo" type="xs:long" />
            <xs:element minOccurs="0" name="protocolo" type="xs:long" />
            <xs:element minOccurs="0" name="iderp" type="xs:string" />
            <xs:element minOccurs="0" name="cdEvento" type="xs:string" />
            <xs:element minOccurs="0" name="token" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="consultaProtocolo">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="identificador">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="lote" type="xs:short" />
                        <xs:element name="protocolo" type="xs:short" />
                        <xs:element name="dtHr" type="xs:dateTime" />
                        <xs:element name="tpinscr" type="xs:byte" />
                        <xs:element name="nrinscr" type="xs:int" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="status">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="cdResposta" type="xs:byte" />
                        <xs:element name="descResposta" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="retornoEventos">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="evento">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="cdEvento" type="xs:string" />
                              <xs:element name="idErp" type="xs:string" />
                              <xs:element minOccurs="0" name="nroProtocolo" type="xs:string" />
                              <xs:element minOccurs="0" name="nroRecibo" type="xs:string" />
                              <xs:element name="situacao" type="xs:string" />
                              <xs:element name="acao" type="xs:string" />
                              <xs:element name="idIves" type="xs:short" />
                              <xs:element name="dtHrIntegra" type="xs:dateTime" />
                              <xs:element minOccurs="0" name="dtHrProtocolo" type="xs:dateTime" />
                              <xs:element minOccurs="0" name="dtHrRecibo" type="xs:dateTime" />
                              <xs:element name="divergente" type="xs:string" />
                              <xs:element minOccurs="0" name="ocorrencias">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="ocorrencia">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="estrutura">
                                            <xs:complexType mixed="true">
                                              <xs:sequence>
                                                <xs:element minOccurs="0" name="msg" type="xs:string" />
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                          <xs:element name="divergencia">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="msg" type="xs:string" />
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" name="erros">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="erro">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="cdErro" type="xs:short" />
                                          <xs:element name="descErro" type="xs:string" />
                                          <xs:element name="tpErro" type="xs:byte" />
                                          <xs:element minOccurs="0" name="localizacao" type="xs:string" />
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute name="id" type="xs:string" use="optional" />
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="consultaRequest">
    <wsdl:part name="consultaRequest" element="tns:consultaRequest" />
  </wsdl:message>
  <wsdl:message name="consultaResponse">
    <wsdl:part name="consultaResponse" element="tns:consultaResponse" />
  </wsdl:message>
  <wsdl:portType name="EsocialService">
    <wsdl:operation name="consultaRequest">
      <wsdl:input name="consultaRequest" message="tns:consultaRequest" />
      <wsdl:output name="consultaResponse" message="tns:consultaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EsocialBinding" type="tns:EsocialService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaRequest">
      <soap:operation soapAction="" />
      <wsdl:input name="consultaRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="consultaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EsocialService">
    <wsdl:port name="EsocialBinding" binding="tns:EsocialBinding">
      <soap:address location="https://apiesocial.vertech-it.com.br/vch-esocial/consultaintegra" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>